/* General Styles */

body{
    font-family: DEFAULT_FONT_FAMILY;
}

h1,h2,h3,h4,h5,h6{
    font-family: DEFAULT_HEADING_FONT_FAMILY;
}

a,a:link,a:visited{
    color: DEFAULT_GENERAL_LINK_COLOR;
    text-decoration: DEFAULT_TEXT_DECORATION;
}

a:hover{
    color: DEFAULT_GENERAL_LINK_HOVER_COLOR;
    text-decoration: DEFAULT_TEXT_HOVER_DECORATION;
}

/* Object Styles  */

.panel{
    width: DEFAULT_PANEL_WIDTH;
    background: DEFAULT_PANEL_BACKGROUND_COLOR;
    padding: DEFAULT_PANEL_PADDING;
}

.panel-title{
    text-transform: uppercase;
}

.panel-content{
    font-style: italic;
}

/* Site Specific Styles */

#SITENAME-branding{
    margin: 20px auto 0;
}

h2.SITENAME{
    font-family: "Trebuchet-MS", Helvetica, Arial, sans-serif;
}

#SITENAME-branding a{
    color: #f63;
}

